.btn {
    margin: 15px 0;
    padding: 10px 45px;
    border-radius: 4px;
}

.btn-xox {
    color: #fff;
    backdrop-filter: blur(15px);
    background: #0066ff;
}

.flex {
    display: flex;
    display: -o-flex;
    display: -moz-flex;
    display: -webkit-flex;
}

.fc {
    align-items: center;
    justify-content: space-around;
}